.topbarItems {
  line-height: 3rem;
  display: flex;
  font-size: .8rem;

  a {
    font-weight: $font-weight-semi-bold;

    &:hover {
      color: $secondary;
    }
  }

  &>* {
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0;
      margin-left: auto;
    }
  }

  i {
    color: $secondary;
    vertical-align: baseline;
    margin-right: .25rem;
    font-size: .9rem;
  }

  .phrase {
    font-weight: $font-weight-light;

    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  .phone,
  .mail {
    span {
      @include media-breakpoint-down(sm) {
        display: none;
      }
    }
  }


}