.bs-card {
  &.framed {
    .card-img {
      padding: $spacer $spacer 0;
      height: 200px;
    }
  }

  .card {
    &-img {
      height: 250px;
      object-fit: cover;
      object-position: center;
    }

    &-title{
      font-weight: $font-weight-semi-bold;
    }

    &-text {
      font-size: .875rem;
    }

    &-link {
      display: block;
      text-align: right;
      color: $secondary;
      font-size: .875rem;
      font-weight: $font-weight-semi-bold;
    }
  }
}