.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  transition: background-color .2s ease-out;

  @include media-breakpoint-down(lg) {
    position: static;
    background-color: #fff;
    box-shadow: 0 0 6px #000;
  }

  &.scrolled {
    background-color: #fff;
    box-shadow: 0 0 6px rgb(155 155 155 / 50%);
  }

  &__body {
    height: $header-body-height;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    width: 100px;
    height: 3rem;
    position: relative;

    a {
      display: inline-block;
      height: 100%;
      width: 100%;
    }
  }
}