.navigation {
  font-size: .9rem;
  // font-weight: $font-weight-semi-bold;

  &__list {
    @include unstyled-list;
  }

  &__item {
    display: inline-block;
    margin-right: 2rem;

    &:last-child {
      margin-right: 0;
    }

    a {
      font-weight: $font-weight-semi-bold;
      color: $primary;

      &:hover {
        color: $secondary;
      }
    }

    .active {
      color: $secondary;
    }


  }

}