.default-layout {
  transition: transform .2s ease-out;
  &.show-nav-list {
    transform: translateX(calc($mobile-menu-width * (-1)));
  }
}

section {
  padding: 4rem 0;

  &:nth-child(2n) {
    background-color: darken($body-bg, 8);
  }

}