.default-layout {
  transition: transform .2s ease-out;

  &.show-nav-list {
    transform: translateX(calc($mobile-menu-width * (-1)));
  }
}

section {
  padding: 4rem 0;


  &:nth-child(odd) {
    background-color: #f7f7f7;
  }

  &:nth-child(even) {
    background-color: darken(#f7f7f7, 8);
  }

}